---
import { ButtonVariant } from '@types'

export interface Props {
  label: string;
  href: string;
  variant: ButtonVariant;
  color?: string;
}

const {
  label, href, variant, color,
} = Astro.props
---

{
  variant === ButtonVariant.DEFAULT ? (
    <a
      class='flex cursor-pointer justify-center
        self-center rounded-md bg-slate-50 px-6 py-2 font-medium text-black'
      href={href}
    >
      {label}
    </a>
  ) : (
    <a
      class='inline-flex cursor-pointer justify-center
        rounded-md px-6 py-2 font-medium text-white drop-shadow-sm duration-300 hover:-translate-y-1 active:translate-y-0'
      style={`background: ${color};`}
      href={href}
    >
      {label}
    </a>
  )
}
