---
import { ButtonVariant } from '@types'

export interface Props {
  label: string;
  href: string;
  variant: ButtonVariant;
  color?: string;
}

const {
  label, href, variant, color,
} = Astro.props
---
{
  variant === ButtonVariant.DEFAULT ? (
    <a
      class='bg-slide flex cursor-pointer justify-center rounded-md px-6
        py-3 text-sm font-medium text-white'
      href={href}
    >
      {label}
    </a>
  ) : (
    <a
      class='inline-flex cursor-pointer justify-center
        rounded-md px-6 py-2 text-sm font-medium text-white drop-shadow-sm duration-300 hover:-translate-y-1 active:translate-y-0'
      style={`background: ${color};`}
      href={href}
    >
      {label}
    </a>
  )
}

<style>
  .bg-slide {
    background: linear-gradient(to right, #06bfff 50%, #2b74ff 100%) right 0 /
      200%;
    transition: background-position 300ms ease-in;
  }

  .bg-slide:hover {
    background-position: left 0;
  }
</style>
